background-image {

  background-repeat: no-repeat;
}



.h1 {
  font-family: 'Nova Mono', monospace;
}

.h2 {
  font-family: 'Nova Mono', monospace;
}

.h3 {
  font-family: 'Nova Mono', monospace;
}

.h4 {
  font-family: 'Nova Mono', monospace;
}

.h5 {
  font-family: 'Lato', sans-serif;
}

.a {
  font-family: 'Nova Mono', monospace;
}

.p {
  font-family: 'Lato', sans-serif;
}