/* Main Component Styles */
body {
    margin:0px;
}

.card {
    transition: .5s ease;
  backface-visibility: hidden;
}

.col:hover .card {
    opacity: 0.3;
}

section {
    min-height:300px;
    width:100vw;
}

.grad1 {
    background-image: linear-gradient(146deg, red -40%, blue);
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .col:hover .overlay {
    opacity: 1;
  }



/* NAV STYLES */
ul {
    /* list-style: none;
    padding-left:0px; */
    border-bottom: tomato 2px solid;
}
ul li {
    /*display: inline-block; */
    padding: 5px 20px;
    background-color: transparent;
    transition: 1400ms;
    border-bottom: 2px solid transparent;
}

ul li:hover {
    background-color: rgba(174, 0, 255, 0.699);
    border-bottom: 2px solid black;
    transition: 1400ms;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}